In [4]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=81b930b5acd7a7b74eb19e46f8cb8d7ea144c5e7d61fe4233dc8cb00e8344352
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
#Create local file with the following data

Complete the following code using pyspark RDDs

movie.csv
movieId,moviename,director,year
200,shawshank,FrankD,1994
201,saw,JamesW,2004
202,avengers,JossW,2012
204,mi,ChristopherMcq,2018
205,wrongturn,DeclanO,2011

award.csv
catalogId,movieId,awards
11,200,2
12,200,3
13,201,1
14,202,3
15,202,5
16,204,4
17,205,1

In [5]:
#Import libraries & Create SparkSession
from pyspark.sql import SparkSession

In [6]:
lti_spark = SparkSession.builder.appName('santoshRocks').getOrCreate()

In [11]:
#Create two dataframes using respective csv files from local storage
movies = lti_spark.createDataFrame([
    [200,'shawshank','FrankD',1994], [201,'saw','JamesW',2004], [202,'avengers','JossW',2012],
    [204,'mi','ChristopherMcq',2018], [205,'wrongturn','DeclanO',2011]], schema=['movieId','moviename','director','year'])
movies

DataFrame[movieId: bigint, moviename: string, director: string, year: bigint]

In [12]:
awards = lti_spark.createDataFrame([[11,200,2],[12,200,3],[13,201,1],[14,202,3],[15,202,5],[16,204,4],
    [17,205,1]], schema = ['catalogId','movieId','awards'])
awards

DataFrame[catalogId: bigint, movieId: bigint, awards: bigint]

In [13]:
movies.show()

+-------+---------+--------------+----+
|movieId|moviename|      director|year|
+-------+---------+--------------+----+
|    200|shawshank|        FrankD|1994|
|    201|      saw|        JamesW|2004|
|    202| avengers|         JossW|2012|
|    204|       mi|ChristopherMcq|2018|
|    205|wrongturn|       DeclanO|2011|
+-------+---------+--------------+----+

In [14]:
awards.show()

+---------+-------+------+
|catalogId|movieId|awards|
+---------+-------+------+
|       11|    200|     2|
|       12|    200|     3|
|       13|    201|     1|
|       14|    202|     3|
|       15|    202|     5|
|       16|    204|     4|
|       17|    205|     1|
+---------+-------+------+

In [22]:
from pyspark.sql.functions import concat

In [27]:
#Create a new column called "movieInfo" in movies dataframe which includes movieName & Director
# movies.withColumn('movieInfo',concat(movies["moviename"], movies["director"])).show()
movies.withColumn('movieInfo',concat(movies.moviename ,movies.director)).show()

+-------+---------+--------------+----+----------------+
|movieId|moviename|      director|year|       movieInfo|
+-------+---------+--------------+----+----------------+
|    200|shawshank|        FrankD|1994| shawshankFrankD|
|    201|      saw|        JamesW|2004|       sawJamesW|
|    202| avengers|         JossW|2012|   avengersJossW|
|    204|       mi|ChristopherMcq|2018|miChristopherMcq|
|    205|wrongturn|       DeclanO|2011|wrongturnDeclanO|
+-------+---------+--------------+----+----------------+

In [34]:
#Calculate total number of awards for each movie & display - movieID, movienName, awardsCount

df = movies.join(awards, movies.movieId == awards.movieId, 'right')
new_df = df.select(movies.movieId, movies.moviename,awards.awards)
new_df.show()

+-------+---------+------+
|movieId|moviename|awards|
+-------+---------+------+
|    201|      saw|     1|
|    200|shawshank|     2|
|    200|shawshank|     3|
|    202| avengers|     3|
|    202| avengers|     5|
|    205|wrongturn|     1|
|    204|       mi|     4|
+-------+---------+------+

In [51]:
#Get top three movies on the basis of number of awards
a = movies.join(awards, movies.movieId == awards.movieId,'right')
b = awards.sort(awards.awards).orderBy(awards.awards.desc()).show()

+---------+-------+------+
|catalogId|movieId|awards|
+---------+-------+------+
|       15|    202|     5|
|       16|    204|     4|
|       12|    200|     3|
|       14|    202|     3|
|       11|    200|     2|
|       17|    205|     1|
|       13|    201|     1|
+---------+-------+------+

In [57]:
#Get top three latest movies
movies.select(movies.moviename,movies.year).orderBy(movies.year.desc()).show(3)

+---------+----+
|moviename|year|
+---------+----+
|       mi|2018|
| avengers|2012|
|wrongturn|2011|
+---------+----+
only showing top 3 rows